* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
    color: #fafafa;
}

main {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	gap: 2rem;
}

.cardWrapper {
  display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;
	/* min-height: 300px; */
	width: 90%;
	max-width: 900px;
	min-width: 300px;
	background-color: #01b4c6;
	border-radius: 10px;
	box-shadow: 0 0 15px #97ce4c;
	color: #323232;
}

.imgContainer {
  width: 300px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.imgContainer img {
  /* width: 50%; */
	border-radius: 10px 0px 0px 10px;
}

h1 {
  width: 100%;
	text-align: center;
	font-size: 2.25rem;
	color: white;
	text-shadow: 0 0 25px #97ce4c;
}

.infoContainer {
  width: 60%;
	min-width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	gap: 1rem;
}

.info {
    display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.info h2 {
    color: white;
    text-shadow: 0 0 25px #97ce4c;
    width: 25%;
}

.info span {
    width: 75%;
    font-size: 1.2rem;
    text-align: end;
    font-weight: 600;
}

.reload {
	background-color: #2317a2;
	color: #fff;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	padding: 8px 10px;
	font-size: 20px;
}

.reload:hover {
	color: #000;
	background-color: #97ce4c;
}
